<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner %>
</p>

<p>
  <strong>Sniffed butts:</strong>
  <%= @dog.sniffed_butts %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
